form{
	max-width: 400px;
	margin: 0px auto;
	font-style: arial;
}
label{
	display: block;
}
input[type="text"], select{
	padding: 8px;
	margin-bottom: 20px;
	margin-top: 5px;
	border: 1px solid #f0b359;
	border-radius: 10px;
}
input[type="checkbox"]{
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: pointer;
}
input[type="button"]{
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
input[type="button"]:hover{
	background-color: white;
	color: #4caf50;
	border: 2px solid;
}
/* Your CSS Code here. */